on init
    chown system camera /dev/drv8846_dev
    chown system camera /dev/akm09970
    chmod 0660 /dev/drv8846_dev
    chmod 0660 /dev/akm09970

on init && property:ro.boot.hwc=GLOBAL
    setprop ro.boot.product.hardware.sku davinci_global

on init && property:ro.boot.hwc=INDIA
    setprop ro.boot.product.hardware.sku davinciin

on init && property:ro.boot.hwc=CN
    setprop ro.boot.product.hardware.sku davinci_china

on boot
    #Set the default voltage to 5v
    setprop persist.vendor.cp.taper_term_mv 6500

    setprop persist.vendor.qg_cold_temp -150
    setprop persist.vendor.qg_coff_gain 1
    setprop persist.vendor.qg_cld_coff_gain 1.5

service vendor.motor /vendor/bin/hw/vendor.xiaomi.hardware.motor@1.0-service
    class hal
    user system
    group system
